apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hybrid-cluster-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jth0809/hybrid-cluster-app.git
    targetRevision: HEAD
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
