apiVersion: v1
kind: ServiceAccount
metadata:
  name: aiops-supervisor
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aiops-supervisor-role-{{ .Release.Name }}
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log", "services", "nodes"]
  verbs: ["get", "list", "watch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: aiops-supervisor-binding-{{ .Release.Name }}
subjects:
- kind: ServiceAccount
  name: aiops-supervisor
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: aiops-supervisor-role-{{ .Release.Name }}
  apiGroup: rbac.authorization.k8s.io
